In [1]:
import pandas as pd
import numpy as np
import scipy as sp

In [2]:
iris_df=pd.read_fwf('irisdata.txt', delimiter=',', names=['Sepal Length', 'Sepal Width', 'Petal length', 'Petal width', 'Class'])
iris_df.head()

   Sepal Length  Sepal Width  Petal length  Petal width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
iris_df.replace('Iris-setosa', 'Iris-setosa, N = 50', inplace=True)
iris_df.replace('Iris-versicolor', 'Iris-versicolor, N = 50', inplace=True)
iris_df.replace('Iris-virginica', 'Iris-virginica, N = 50', inplace=True)

In [4]:
summary_table = iris_df.groupby('Class').describe()

In [5]:
summary_table = round(summary_table.transpose(), 2)
summary_table

Class               Iris-setosa, N = 50  Iris-versicolor, N = 50  \
Sepal Length count                50.00                    50.00
             mean                  5.01                     5.94
             std                   0.35                     0.52
             min                   4.30                     4.90
             25%                   4.80                     5.60
             50%                   5.00                     5.90
             75%                   5.20                     6.30
             max                   5.80                     7.00
Sepal Width  count                50.00                    50.00
             mean                  3.42                     2.77
             std                   0.38                     0.31
             min                   2.30                     2.00
             25%                   3.12                     2.52
             50%                   3.40                     2.80
             75%                   3.68                     3.00
             max                   4.40                     3.40
Petal length count                50.00                    50.00
             mean                  1.46                     4.26
             std                   0.17                     0.47
             min                   1.00                     3.00
             25%                   1.40                     4.00
             50%                   1.50                     4.35
             75%                   1.58                     4.60
             max                   1.90                     5.10
Petal width  count                50.00                    50.00
             mean                  0.24                     1.33
             std                   0.11                     0.20
             min                   0.10                     1.00
             25%                   0.20                     1.20
             50%                   0.20                     1.30
             75%                   0.30                     1.50
             max                   0.60                     1.80

Class               Iris-virginica, N = 50
Sepal Length count                   50.00
             mean                     6.59
             std                      0.64
             min                      4.90
             25%                      6.22
             50%                      6.50
             75%                      6.90
             max                      7.90
Sepal Width  count                   50.00
             mean                     2.97
             std                      0.32
             min                      2.20
             25%                      2.80
             50%                      3.00
             75%                      3.18
             max                      3.80
Petal length count                   50.00
             mean                     5.55
             std                      0.55
             min                      4.50
             25%                      5.10
             50%                      5.55
             75%                      5.88
             max                      6.90
Petal width  count                   50.00
             mean                     2.03
             std                      0.27
             min                      1.40
             25%                      1.80
             50%                      2.00
             75%                      2.30
             max                      2.50

In [6]:
sepal_length = summary_table.loc[[('Sepal Length', 'count'), ('Sepal Length', 'mean'), ('Sepal Length', 'min'), ('Sepal Length', '50%'), ('Sepal Length', 'max'), ('Sepal Length', 'std')]]
sepal_length['Total, N = 150'] = sepal_length['Iris-setosa, N = 50'] + sepal_length['Iris-versicolor, N = 50'] + sepal_length['Iris-virginica, N = 50']

In [7]:
sepal_length

Class               Iris-setosa, N = 50  Iris-versicolor, N = 50  \
Sepal Length count                50.00                    50.00
             mean                  5.01                     5.94
             min                   4.30                     4.90
             50%                   5.00                     5.90
             max                   5.80                     7.00
             std                   0.35                     0.52

Class               Iris-virginica, N = 50  Total, N = 150
Sepal Length count                   50.00          150.00
             mean                     6.59           17.54
             min                      4.90           14.10
             50%                      6.50           17.40
             max                      7.90           20.70
             std                      0.64            1.51

In [8]:
sepal_width = summary_table.loc[[('Sepal Width', 'count'), ('Sepal Width', 'mean'), ('Sepal Width', 'min'), ('Sepal Width', '50%'), ('Sepal Width', 'max'), ('Sepal Width', 'std')]]
sepal_width['Total, N = 150'] = sepal_width['Iris-setosa, N = 50'] + sepal_width['Iris-versicolor, N = 50'] + sepal_width['Iris-virginica, N = 50']

In [9]:
sepal_width

Class              Iris-setosa, N = 50  Iris-versicolor, N = 50  \
Sepal Width count                50.00                    50.00
            mean                  3.42                     2.77
            min                   2.30                     2.00
            50%                   3.40                     2.80
            max                   4.40                     3.40
            std                   0.38                     0.31

Class              Iris-virginica, N = 50  Total, N = 150
Sepal Width count                   50.00          150.00
            mean                     2.97            9.16
            min                      2.20            6.50
            50%                      3.00            9.20
            max                      3.80           11.60
            std                      0.32            1.01

In [10]:
def sepal_length_perc_make(dataframe):
    less_5 = {'Iris-setosa, N = 50' : 0,
             'Iris-versicolor, N = 50' : 0,
             'Iris-virginica, N = 50': 0}
    between_5_6 = {'Iris-setosa, N = 50' : 0,
             'Iris-versicolor, N = 50' : 0,
             'Iris-virginica, N = 50': 0}
    between_6_7 = {'Iris-setosa, N = 50' : 0,
             'Iris-versicolor, N = 50' : 0,
             'Iris-virginica, N = 50': 0}
    more_7 = {'Iris-setosa, N = 50' : 0,
             'Iris-versicolor, N = 50' : 0,
             'Iris-virginica, N = 50': 0}

    for index, row in dataframe.iterrows():
        if row['Sepal Length'] < 5:
            less_5[row['Class']] += 1
        elif row['Sepal Length'] >= 5 and row['Sepal Length'] < 6:
            between_5_6[row['Class']] += 1
        elif row['Sepal Length'] >= 6 and row['Sepal Length'] < 7:
            between_6_7[row['Class']] += 1
        elif row['Sepal Length'] >= 7:
            more_7[row['Class']] += 1
    return [less_5, between_5_6, between_6_7, more_7]

In [11]:
sepal_length_perc = pd.DataFrame(sepal_length_perc_make(iris_df), index = [('Sepal Length, %','< 5'), ('Sepal Length, %','>=5 AND < 6'), ('Sepal Length, %','>=6 AND < 7'), ('Sepal Length, %','>=7')])
sepal_length_perc['Total, N = 150'] = sepal_length_perc['Iris-setosa, N = 50'] + sepal_length_perc['Iris-versicolor, N = 50'] + sepal_length_perc['Iris-virginica, N = 50']

In [12]:
sepal_length_perc

,"Iris-setosa, N = 50","Iris-versicolor, N = 50","Iris-virginica, N = 50","Total, N = 150"
"(Sepal Length, %, < 5)",20,1,1,22
"(Sepal Length, %, >=5 AND < 6)",30,25,6,61
"(Sepal Length, %, >=6 AND < 7)",0,23,31,54
"(Sepal Length, %, >=7)",0,1,12,13

In [13]:
sepal_length_perc[['Iris-setosa, %','Iris-versicolor, %', 'Iris-virginica, %', 'Total, %']] = round(sepal_length_perc[['Iris-setosa, N = 50', 'Iris-versicolor, N = 50', 
                                                                                                                       'Iris-virginica, N = 50', 'Total, N = 150']].apply(lambda x: (x/x.sum())*100, axis=0), 1)
sepal_length_perc

,"Iris-setosa, N = 50","Iris-versicolor, N = 50","Iris-virginica, N = 50","Total, N = 150","Iris-setosa, %","Iris-versicolor, %","Iris-virginica, %","Total, %"
"(Sepal Length, %, < 5)",20,1,1,22,40.0,2.0,2.0,14.7
"(Sepal Length, %, >=5 AND < 6)",30,25,6,61,60.0,50.0,12.0,40.7
"(Sepal Length, %, >=6 AND < 7)",0,23,31,54,0.0,46.0,62.0,36.0
"(Sepal Length, %, >=7)",0,1,12,13,0.0,2.0,24.0,8.7

In [14]:
sepal_length_perc['Iris-setosa, N = 50'] = sepal_length_perc['Iris-setosa, N = 50'].astype(str) +'(' + sepal_length_perc['Iris-setosa, %'].astype(str) + ')'
sepal_length_perc['Iris-versicolor, N = 50'] = sepal_length_perc['Iris-versicolor, N = 50'].astype(str) + '(' + sepal_length_perc['Iris-versicolor, %'].astype(str) + ')'
sepal_length_perc['Iris-virginica, N = 50'] = sepal_length_perc['Iris-virginica, N = 50'].astype(str) + '(' + sepal_length_perc['Iris-virginica, %'].astype(str) + ')'
sepal_length_perc['Total, N = 150'] = sepal_length_perc['Total, N = 150'].astype(str) + '(' + sepal_length_perc['Total, %'].astype(str) + ')'

In [15]:
sepal_length_perc

,"Iris-setosa, N = 50","Iris-versicolor, N = 50","Iris-virginica, N = 50","Total, N = 150","Iris-setosa, %","Iris-versicolor, %","Iris-virginica, %","Total, %"
"(Sepal Length, %, < 5)",20(40.0),1(2.0),1(2.0),22(14.7),40.0,2.0,2.0,14.7
"(Sepal Length, %, >=5 AND < 6)",30(60.0),25(50.0),6(12.0),61(40.7),60.0,50.0,12.0,40.7
"(Sepal Length, %, >=6 AND < 7)",0(0.0),23(46.0),31(62.0),54(36.0),0.0,46.0,62.0,36.0
"(Sepal Length, %, >=7)",0(0.0),1(2.0),12(24.0),13(8.7),0.0,2.0,24.0,8.7

In [16]:
def sepal_width_perc_make(dataframe):
    less_3 = {'Iris-setosa, N = 50' : 0,
             'Iris-versicolor, N = 50' : 0,
             'Iris-virginica, N = 50': 0}
    between_3_35 = {'Iris-setosa, N = 50' : 0,
             'Iris-versicolor, N = 50' : 0,
             'Iris-virginica, N = 50': 0}
    between_35_4 = {'Iris-setosa, N = 50' : 0,
             'Iris-versicolor, N = 50' : 0,
             'Iris-virginica, N = 50': 0}
    
    for index, row in dataframe.iterrows():
        if row['Sepal Width'] < 3:
            less_3[row['Class']] += 1
        elif row['Sepal Width'] >= 3 and row['Sepal Width'] < 3.5:
            between_3_35[row['Class']] += 1
        elif row['Sepal Width'] >= 3.5 and row['Sepal Width'] < 4:
            between_35_4[row['Class']] += 1
            
    return [less_3, between_3_35, between_35_4]

In [17]:
sepal_width_perc = pd.DataFrame(sepal_width_perc_make(iris_df), index = [('Sepal Width, %', '< 3'), ('Sepal Width, %', '>=3 AND < 3.5'), ('Sepal Width, %', '>=3.5 AND < 4')])
sepal_width_perc['Total, N = 150'] = sepal_width_perc['Iris-setosa, N = 50'] + sepal_width_perc['Iris-versicolor, N = 50'] + sepal_width_perc['Iris-virginica, N = 50']

In [18]:
sepal_width_perc[['Iris-setosa, %','Iris-versicolor, %', 'Iris-virginica, %', 'Total, %']] = round(sepal_width_perc[['Iris-setosa, N = 50', 'Iris-versicolor, N = 50', 
                                                                                                                       'Iris-virginica, N = 50', 'Total, N = 150']].apply(lambda x: (x/x.sum())*100, axis=0), 1)
sepal_width_perc

,"Iris-setosa, N = 50","Iris-versicolor, N = 50","Iris-virginica, N = 50","Total, N = 150","Iris-setosa, %","Iris-versicolor, %","Iris-virginica, %","Total, %"
"(Sepal Width, %, < 3)",2,34,21,57,4.3,68.0,42.0,39.0
"(Sepal Width, %, >=3 AND < 3.5)",27,16,26,69,58.7,32.0,52.0,47.3
"(Sepal Width, %, >=3.5 AND < 4)",17,0,3,20,37.0,0.0,6.0,13.7

In [19]:
sepal_width_perc['Iris-setosa, N = 50'] = sepal_width_perc['Iris-setosa, N = 50'].astype(str) +'(' + sepal_width_perc['Iris-setosa, %'].astype(str) + ')'
sepal_width_perc['Iris-versicolor, N = 50'] = sepal_width_perc['Iris-versicolor, N = 50'].astype(str) + '(' + sepal_width_perc['Iris-versicolor, %'].astype(str) + ')'
sepal_width_perc['Iris-virginica, N = 50'] = sepal_width_perc['Iris-virginica, N = 50'].astype(str) + '(' + sepal_width_perc['Iris-virginica, %'].astype(str) + ')'
sepal_width_perc['Total, N = 150'] = sepal_width_perc['Total, N = 150'].astype(str) + '(' + sepal_width_perc['Total, %'].astype(str) + ')'

In [20]:
summary_table_full = pd.concat([sepal_length, sepal_length_perc, sepal_width, sepal_width_perc], axis=0)

In [21]:
summary_table_full = summary_table_full.drop(['Iris-setosa, %', 'Iris-versicolor, %', 'Iris-virginica, %', 'Total, %'], axis=1)
summary_table_full

                              Iris-setosa, N = 50 Iris-versicolor, N = 50  \
Sepal Length    count                        50.0                    50.0
                mean                         5.01                    5.94
                min                           4.3                     4.9
                50%                           5.0                     5.9
                max                           5.8                     7.0
                std                          0.35                    0.52
Sepal Length, % < 5                      20(40.0)                  1(2.0)
                >=5 AND < 6              30(60.0)                25(50.0)
                >=6 AND < 7                0(0.0)                23(46.0)
                >=7                        0(0.0)                  1(2.0)
Sepal Width     count                        50.0                    50.0
                mean                         3.42                    2.77
                min                           2.3                     2.0
                50%                           3.4                     2.8
                max                           4.4                     3.4
                std                          0.38                    0.31
Sepal Width, %  < 3                        2(4.3)                34(68.0)
                >=3 AND < 3.5            27(58.7)                16(32.0)
                >=3.5 AND < 4            17(37.0)                  0(0.0)

                              Iris-virginica, N = 50 Total, N = 150
Sepal Length    count                           50.0          150.0
                mean                            6.59          17.54
                min                              4.9           14.1
                50%                              6.5           17.4
                max                              7.9           20.7
                std                             0.64           1.51
Sepal Length, % < 5                           1(2.0)       22(14.7)
                >=5 AND < 6                  6(12.0)       61(40.7)
                >=6 AND < 7                 31(62.0)       54(36.0)
                >=7                         12(24.0)        13(8.7)
Sepal Width     count                           50.0          150.0
                mean                            2.97           9.16
                min                              2.2            6.5
                50%                              3.0            9.2
                max                              3.8           11.6
                std                             0.32           1.01
Sepal Width, %  < 3                         21(42.0)       57(39.0)
                >=3 AND < 3.5               26(52.0)       69(47.3)
                >=3.5 AND < 4                 3(6.0)       20(13.7)

In [22]:
summary_table_full.loc[('Sepal Length', 'count')]['Iris-setosa, N = 50'] = '{0}'.format(50)
summary_table_full.loc[('Sepal Length', 'count')]['Iris-versicolor, N = 50'] = '{0}'.format(50)
summary_table_full.loc[('Sepal Length', 'count')]['Iris-virginica, N = 50'] = '{0}'.format(50)
summary_table_full.loc[('Sepal Length', 'count')]['Total, N = 150'] = '{0}'.format(150)

summary_table_full.loc[('Sepal Width', 'count')]['Iris-setosa, N = 50'] = '{0}'.format(50)
summary_table_full.loc[('Sepal Width', 'count')]['Iris-versicolor, N = 50'] = '{0}'.format(50)
summary_table_full.loc[('Sepal Width', 'count')]['Iris-virginica, N = 50'] = '{0}'.format(50)
summary_table_full.loc[('Sepal Width', 'count')]['Total, N = 150'] = '{0}'.format(150)

In [23]:
summary_table_full

                              Iris-setosa, N = 50 Iris-versicolor, N = 50  \
Sepal Length    count                          50                      50
                mean                         5.01                    5.94
                min                           4.3                     4.9
                50%                           5.0                     5.9
                max                           5.8                     7.0
                std                          0.35                    0.52
Sepal Length, % < 5                      20(40.0)                  1(2.0)
                >=5 AND < 6              30(60.0)                25(50.0)
                >=6 AND < 7                0(0.0)                23(46.0)
                >=7                        0(0.0)                  1(2.0)
Sepal Width     count                          50                      50
                mean                         3.42                    2.77
                min                           2.3                     2.0
                50%                           3.4                     2.8
                max                           4.4                     3.4
                std                          0.38                    0.31
Sepal Width, %  < 3                        2(4.3)                34(68.0)
                >=3 AND < 3.5            27(58.7)                16(32.0)
                >=3.5 AND < 4            17(37.0)                  0(0.0)

                              Iris-virginica, N = 50 Total, N = 150
Sepal Length    count                             50            150
                mean                            6.59          17.54
                min                              4.9           14.1
                50%                              6.5           17.4
                max                              7.9           20.7
                std                             0.64           1.51
Sepal Length, % < 5                           1(2.0)       22(14.7)
                >=5 AND < 6                  6(12.0)       61(40.7)
                >=6 AND < 7                 31(62.0)       54(36.0)
                >=7                         12(24.0)        13(8.7)
Sepal Width     count                             50            150
                mean                            2.97           9.16
                min                              2.2            6.5
                50%                              3.0            9.2
                max                              3.8           11.6
                std                             0.32           1.01
Sepal Width, %  < 3                         21(42.0)       57(39.0)
                >=3 AND < 3.5               26(52.0)       69(47.3)
                >=3.5 AND < 4                 3(6.0)       20(13.7)

##### NOTE:
50% has 1 decimal point due to having only 0 after that, so python shortens it.